{
    email {$CADDY_TLS_EMAIL}
}

{$DASHBOARD_DOMAIN:dashboard.localhost} {
    reverse_proxy dashboard:8080
}

{$GRAFANA_DOMAIN:grafana.localhost} {
    reverse_proxy grafana:3000
}

{$PROMETHEUS_DOMAIN:prometheus.localhost} {
    reverse_proxy prometheus:9090
}
